.slider{
  display:flex;
  height: 100vh;
  align-items: center;
  position:relative;
}

.slider .slide{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position:absolute;
  width:100vw;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 2rem;
  transition: 0.5s ease-in-out;
  opacity: 0;
}

.slider .slide.mostrar{
  opacity: 1;
}

.slider .slide.slide-rosa{
  background-image:url(../images/imagem-rosa.png);
}

.slider .slide.slide-verde{
  background-image:url(../images/imagem-verde.png);
}

.slider .slide.slide-laranja{
  background-image:url(../images/imagem-laranja.png);
}

.slider .slide.slide-azul{
  background-image:url(../images/imagem-azul.png);
}

.seta-voltar,.seta-avancar{
  position: absolute;
  z-index: 1;
}

.seta-voltar{
  left:4%;
  transform: rotateY(180deg);
}

.seta-avancar{
  right:4%;
}

.opacidade{
  opacity: 0.6;
  cursor:default;
}

.slider .slide .content{
  width:450px;
  background-color:#fff;
  padding:65px 60px;
  margin-left:120px;
  border-radius: 10px;
}

.content .titulo{
  font-size:4rem;
  font-weight: 400;
}

.content .texto{
  margin:40px 0 25px;
  font-weight: 300;
  font-size:2rem;
}

.content .botao{
  font-weight: 700;
  font-size: 2.4rem;
}

.botao-rosa{
  color:#C50000;
}

.botao-verde{
  color: #D9DD10;
}

.botao-laranja{
  color:#A63A17;
}

.botao-azul{
  color:#10ACDD;
}